<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Quick Bytes</title>

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- bootstrap vue styles -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

	<!-- bootstrp vue scripts -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<!-- source styles -->
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div id="app" class="container-fluid">
		<header>
			<h1>{{title}}</h1>
		</header>
		<section class="container-fluid">
			<div id="map"></div>
			<div id="form" class="mx-auto container-fluid col-8">
				<b-form inline class="mx-auto">

					<b-button variant="danger" @click='searchBack' style="margin-left: 5px;">Back</b-button>

					<b-form-input type="text" v-model='term' @change='storeTerm'></b-form-input>

					<b-form-input type="text" v-model='loc'></b-form-input>

					<b-form-select class="mb-3" v-model='limit' :options='limits'></b-form-select>

					<b-form-select class="mb-3" v-model='price'>
						<option value="1">$</option>
						<option value="2">$$</option>
						<option value="3">$$$</option>
					</b-form-select>

					<b-form-select class="mb-3" v-model='radius'>
						<option value="8250">5 Miles</option>
						<option value="16500">10 Miles</option>
						<option value="40000">25 Miles</option>
					</b-form-select>

					<b-button variant="outline-success" @click='search(false)'>Search</b-button>

					<b-button variant="primary" @click='searchNext' style="margin-left: 10px;">Next</b-button>
				</b-form>
			</div>
			<div id="cardArea" class="container-fluid col-9">
				<h3>Results: {{total}}</h3>
				<h5>{{offset}} - {{offset+limit}} / {{total}}</h5>
				<div id="results" class="container-fluid">
					<b-card-group deck>
						<restaurant-card v-for='r in results'
						 v-bind:name='r.name' v-bind:phone='r.phone'
						 v-bind:rating='r.rating' v-bind:url='r.url'
						 v-bind:image='r.image' v-bind:distance='r.distance'
						 v-bind:location='r.location'>
						</restaurant-card>
					</b-card-group>
				</div>
			</div>
		</section>
		<footer>
			<p>Copyright &copy; 2018 Sean Lightfoot</p>
		</footer>

	</div>

	<!-- JQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>

	<!-- database scripts -->
	<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
	<script src="./src/database.js"></script>

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2LlibimGNTYnA1bg2a1Le3XEB2-qPkLE&callback=app.initMap"
	 async defer></script>

	<!-- source code -->
	<script src="./src/components.js"></script>
	<script src="./src/main.js"></script>
</body>

</html>