body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 240, 232);
}
#map {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(0,150,50);
    padding: 5px;
}
h1{
    margin-top: 5px;
    text-align: center;
    background-color: rgb(0,150,50);
    color: rgb(3, 31, 12);
    padding: 5px;
    border-radius: 10px;
}
#app{
    background-color: rgb(228, 240, 232);
}
section{
    margin-top: 50px;
}
#cardArea{
    margin-top: 50px;
    background-color: rgb(195, 233, 207);
    padding: 5px;
    border-radius: 10px;
}
#results{
    /* height: 850px; */
    display: inline-block;
    margin-left: 10px;
}
footer{
    background-color: rgb(0,150,50);
    color: rgb(3, 31, 12);
    border-radius: 60px;
}
footer p{
    padding: 10px;
}
.cards{
    height: 470px;
}
#form{
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(130, 223, 160);
}
#__BVID__1{
    margin-left: 10px;
}
#form input, #form select{
    margin-right: 20px;
}
article img{
    height: 200px;
}
select{
    margin-top: 15px;
}